.landing-text{
    color: black;
    background:linear-gradient(to right bottom, black, pink, white) ;
    font-size:65px;
    margin-top: 250px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.landing-text-minor {
    margin-top: 30px;
    color: white;
    font-size: xx-large;
}

.landing-page {
    text-align: center;
}

.landing-page-main {
    background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg');
    background-size: cover;
    height: 95vh;
    width: 2000px;
    margin-top: 40px;
}

.landing-btn {
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-top: 40px;
    color: whitesmoke;
    background-color: black;
    font-size: larger;
}